@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: bisque;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 30px;
  border-bottom: 0.6px solid gray;
  padding: 3px 15px;
}

.container ul {
  display: flex;
  flex-direction: column;
}

.container li {
  padding: 3px 15px 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.6px solid gray;
  height: 40px;
}

.container li.checked {
  text-decoration: line-through;
}

.taskList input[type="text"].active,
.container li.active {
  background: #dfda82;
}

.container li p {
  cursor: pointer;
  width: 90%;
  margin-left: 10px;
}

.clearButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.6px solid gray;
  height: 50px;
  background-color: #ebc491;
  cursor: pointer;
}

.container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 16px;
}

.container form input {
  width: 95%;
  height: 40px;
  background-color: bisque;
  outline: none;
  border: none;
  font-size: 18px;
}

.fa-trash-can,
.fa-arrows-rotate {
  cursor: pointer;
}

.fa-ellipsis-vertical {
  cursor: grab;
}

.fa-ellipsis-vertical:active {
  cursor: grabbing;
}

.fa-arrow-turn-down {
  transform: rotate(90deg);
  font-size: 12px;
  color: #777776;
  cursor: pointer;
}

.container form input::placeholder {
  font-style: italic;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 10px 0 #31313159;
}

.taskList input[type="text"] {
  background: bisque;
  outline: none;
  border: none;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .container li {
    padding: 3px 15px;
  }
}
